In [1]:
dia_inicio = 1
mes_inicio = 2
ano_inicio = 2018

dia_fim = 1
mes_fim = 6
ano_fim = 2018

#horarios = [7,8,17,18]
fins_de_semana = True

In [2]:
import os
import sys
project_dir = os.path.join(os.pardir, os.pardir)
sys.path.append(project_dir)

import dotenv
dotenv_path = os.path.join(project_dir, '.env')
dotenv.load_dotenv(dotenv_path)

import numpy as np
import pandas as pd
import geopandas as gpd
import datetime

from src.data import processing_func

In [3]:
#Connection and initial setup
DATABASE = {
'drivername': os.environ.get("db_drivername"),
'host': os.environ.get("db_host"), 
'port': os.environ.get("db_port"),
'username': os.environ.get("db_username"),
'password': os.environ.get("db_password"),
'database': os.environ.get("db_database"),
}

meta = processing_func.connect_database(DATABASE)

date_begin = datetime.date(day=dia_inicio, month=mes_inicio, year=ano_inicio)
date_end = datetime.date(day=dia_fim, month=mes_fim, year=ano_fim)

df_jams = processing_func.extract_df_jams(meta, date_begin, date_end, weekends=fins_de_semana)
display(df_jams.shape)
display(df_jams.head())

(1387813, 10)

,start_time,id,uuid,street,level,length,speed_kmh,speed,delay,line
0,2018-05-31 23:59:00,2799,24356360,R. Itajaí,5,103,0.00,0.00000,-1,"[{'x': -48.84207, 'y': -26.30179}, {'x': -48.8..."
1,2018-05-31 23:59:00,2799,95444791,R. 15 de Novembro,2,546,13.06,3.62778,78,"[{'x': -48.849611, 'y': -26.300495}, {'x': -48..."
2,2018-05-31 23:59:00,2799,103312149,SC-418,1,10676,45.98,12.77220,350,"[{'x': -49.052105, 'y': -26.214087}, {'x': -49..."
3,2018-05-31 23:59:00,2799,107294466,Av. José Vieira,2,855,21.29,5.91389,65,"[{'x': -48.843003, 'y': -26.29516}, {'x': -48...."
4,2018-05-31 23:59:00,2799,115296604,V. Exclusiva para ônibus,2,685,20.37,5.65833,63,"[{'x': -48.841604, 'y': -26.301808}, {'x': -48..."